*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #e6e6e6;
    height: 1000px;
}
.wrapper{
    width: 1020px;
    margin: 0 auto;
}

header{
    position: relative;
    width: 1020px;
    margin: 0 auto;
    height: 70px;
    background-color: white;
}

.stargazer{
    padding: 20px 0 0  50px;
    font-family: 'Open Sans', sans-serif;;
    font-style: normal;
    font-weight: 400;
}

nav{
    position: absolute;
    right: 50px;
    top: 24px;
    width: 33%;
}

ul{
    list-style-type:none;
}
.navmen{
    display: inline-block;
    width: 30%;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;;
}

.main-img{
    background-image: url("main.jpg");
    width: 1020px;
    height: 500px;
    background-position: center;
    background-size: cover;
}
.caption{
    float:right;
    font-size: 10px;
    margin: 480px 15px 0 0;
}
.main-art{
    padding: 40px 0;
}
article{
    background-color: white;
}
.grassland{
    margin: 0 0 30px 50px;
    font-family: 'Open Sans', sans-serif;;
    font-style: normal;
    font-weight: 400;
}
p{
    font-family: 'Open Sans', sans-serif;;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin: 0 50px;
}

.content-two{
    margin: 20px auto;
    width: 1020px;
    overflow: hidden;
}
.content-left{
    float:left;
    width: 500px;
}
.leftpic{
    background-image: url("gira.jpg");
    width: 500px;
    height: 500px;
    background-position: center;
    background-size: cover;
}
.content-right{
    float:right;
    width: 500px;
}
.rightpic{
    background-image: url("lio.jpg");
    width: 500px;
    height: 500px;
    background-position: center;
    background-size: cover;
}
.left-desc{
    padding: 40px 0;
}
.right-desc{
    padding: 40px 0;
}

.content-two-title{
    margin: 0 0 30px 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.more{
    width: 1020px;
}
.btn{
    width: 224px;
    height: 52px;
    margin: 50px 398px;
    display: flex;      /*여기부터 3개가 좌우 위아래 가운데 맞추는법*/
    justify-content: center;
    align-items: center;
    font-size: 19.2px;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    border: 2px solid #333;
}
a{
    text-decoration: none;
}
a:link, a:visited {
    color: #333333;
}
.btn:hover{
    color: white;
    background-color: #333333;
}

footer{
    width: 1020px;
    margin: auto;
    overflow: hidden;
    background-color: white;
}
.address{
    float:left;
    width: 500px;
}
.add-title{
    margin: 30px 50px 30px 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
.add{
    margin: 0 50px 30px 50px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.subscribe{
    float:right;
    width: 500px;
}
.sub-title{
    margin: 30px 50px 30px 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
.form{
    margin: 0 50px 0 50px;
    text-align: center;
}
.email{
    border: 2px solid #eeeeee;
    height: 46px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    padding: 5px;
    outline: none;
}
button{
    background-color: #eeeeee;
    width: 46px;
    height: 46px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    border: none;
}

button:hover{
    background-color: #dedede;
    color: #ff6666;
}